


.App {
  
  justify-content: space-around;
  text-align: center;
  background-color: grey;
  min-height: 2000px;

}


.tweet{
  border: 2px solid black;
  height: 200px;
width: 200px;
background: white;
border-radius: 20px;

}
